
.view-content{
  align-content: center;
}
table{
  border-spacing: 10px;
  border-collapse: separate;
}


table td[class*="col-"], table th[class*="col-"]{
  margin: 5px;
  align-content: center;

}
#navbar{
  min-width: 100%;
  min-height: 80px;
  background-color: #ffffff;
  color: #000000;

}

.container{
  align-content: center;
  width: 100%;
}
.feild-item{
  padding-left: 10%;
  padding-right: 10%;
}
nav{
  float: right;
  font-size: 20px;
  padding-top: 2%;
}
.navbar-default .navbar-nav > li > a{
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color: #000;
  background-color: transparent;
  border-bottom: 2px solid black;
  }
  .navbar-default .navbar-nav >li> a:hover{
    border-bottom: 2px solid black;
  }
  .user-menu{
  background-color: #000;
  height: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  z-index: 3;
  text-align: right;
  }
  .user-menu a{
    color: #fff;
    padding-right: 10px;
  }
  .projekti .naslov {
      position:relative;
      top: 210px;
      left: 0;
      visibility:hidden;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: #fff;

  }

  .projekti:hover .naslov {
      visibility:visible;
      text-transform: uppercase;
      background: rgba(0, 0, 0, 0.5);

  }
  .projekti:hover img{
      box-shadow: 0 0 10px #424242;
  }

.o_nama{
  padding:0 15% 0 15%;
  text-align:justify;
  font-size: 16px;
}
.slika1 img{
  width:320px;
  height: 240px;
}
.proizvodi{
  width: 320px;
  height: 500px;
}

.proizvodi .naslov{
  position:relative;
  top: 240px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.naslov{
  padding-left: 10px;
}

.page-header{
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
}

/*.node-projekti .field-name-field-slika,
.node-proizvodi .field-name-field-slika{
  float: right;
  width:40%;
  margin-left: 10%;
}*/

#first-time{
  visibility: hidden;
}

.view-id-slider .flexslider{
  width: 50%;
  float: right;
  margin-top: -5%;
  margin-right: 20px;

}
.node-projekti .field-name-body,
.node-proizvodi .field-name-body{
  float: left;
  margin-right: 5%;
  margin-top: 5%;
  /*width:50%;*/
}
 .block-system .node-proizvodi,
 .block-system .node-projekti{
  float: left;
  width: 50%;
}
/*#block-views-slider-block-1 .view-slider{
  float: right;
}*/
#user-login{
  width: 30%;
  margin-left: 35%;
}
#user-login button{
  margin-left: 40%;
}
.views-view-grid{
  margin-left: 5%;
  margin-right: 5%;
}

.field-name-field-mapa{
  float: right;
  margin-top: -5%;
  margin-right: 5%
}
.node-article{
  margin-left: 25%;
}

.footer{
  background-color: #f5f5f5;
  text-align: center;

}

block-system-powered-by{
  text-align: center;
}
